@CHARSET "ISO-8859-1";

.background {
	position: fixed !important;
	background-color: black;
	border-radius: 20px;
	opacity: 0.95;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.picture{
	height: 50px;
}