@CHARSET "ISO-8859-1";

.background {
	position: fixed !important;
	background-color: black;
	border-radius: 20px;
	opacity: 0.95;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.picture{
	height: 50px;
}

.controlPanel {
	opacity: 0.4;
}

.controlPanel:HOVER {
	opacity: 0.7;
}

.controlPanel-view {
	opacity: 1.0 !important;
}

.controlItem {
	padding-right: 15px;
	cursor: pointer;
	padding-top: 10px;
}

.controlPicture {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.controlIdText {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
		Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	text-shadow: 1px -1px 3px #D4D2D2;
}