@CHARSET "ISO-8859-1";

.maps {
	border-radius: 20px;
}

.reinforcementsItem {
	opacity: 0.4;
	padding: 5px;
}

.reinforcementsItem:HOVER {
	opacity: 0.7;
}

.reinforcementsItem-selected {
	opacity: 1.0 !important;
}

.infoItem {
	padding-left: 10px;
	float: left;
}

.detailsPanel {
	padding-top: 10px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent{
	background-color: transparent !important;
}