@CHARSET "ISO-8859-1";

.maps {
	border-radius: 20px;
}

.preferencesPopupPanel {
	border: 0px;
	background-color: rgb(255, 255, 255);
}

.preferencesPopupGlassPanel {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	zoom: 1;
	background-color: rgb(204, 204, 204);
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity =       50); /* For IE8 and earlier */
	margin: 0px;
	padding: 0px;
	color: black;
	-moz-outline: none;
	-moz-user-focus: normal;
	font-size: small;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.controlPanel {
	opacity: 0.4;
}

.controlPanel:HOVER {
	opacity: 0.7;
}

.controlPanel-view {
	opacity: 1.0 !important;
}

.controlItem {
	padding-right: 15px;
	cursor: pointer;
	padding-top: 10px;
}

.controlPicture {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.reinforcementsItem {
	opacity: 0.4;
	padding: 5px;
}

.reinforcementsItem:HOVER {
	opacity: 0.7;
}

.reinforcementsItem-selected {
	opacity: 1.0 !important;
}

.controlIdText {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
		Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	text-shadow: 1px -1px 3px #D4D2D2;
}

.infoItem {
	padding-left: 10px;
	float: left;
}

.detailsPanel {
	padding-top: 10px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent{
	background-color: transparent !important;
}