/classes/
/deploy
/appengine-generated
/agentendpoint-v1-rest.discovery
/agentendpoint-v1-rpc.discovery
/appengine-web.xml
/logging.properties
/victimendpoint-v1-rest.discovery
/victimendpoint-v1-rpc.discovery
