<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>PCSOS.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>connectionService</servlet-name>
		<servlet-class>epusp.pcs.os.server.Connection</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>connectionService</servlet-name>
		<url-pattern>/pcsos/connection</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>epusp.pcs.os.server.login.LoginConnection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/pcsos/loginService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>monitorWorkspaceService</servlet-name>
		<servlet-class>epusp.pcs.os.server.monitor.MonitorWorkspaceConnection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitorWorkspaceService</servlet-name>
		<url-pattern>/monitor/monitorWorkspaceService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminWorkspaceService</servlet-name>
		<servlet-class>epusp.pcs.os.server.admin.AdminWorkspaceConnection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminWorkspaceService</servlet-name>
		<url-pattern>/admin/adminWorkspaceService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>epusp.pcs.os.server.endpoint.AgentEndpoint,epusp.pcs.os.server.endpoint.EmergencyCallWorkflowEndpoint,epusp.pcs.os.server.endpoint.VictimEndpoint</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>